@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
  background:#f5f5f5;
  margin-left:330px;
  margin-right:330px;
  padding:0;
  font-family:'Quicksand';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
  font-weight: bold;
  color:#6B6B6B;
/*   #2764c6 */
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}
h6{
  font-size: 20px;
}
p {
  font-size:25px;
  line-height:40px;
}
.header {
  text-align:center:
}
