@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
    font-family:'Quicksand';
    margin:0;
    padding:0;
    background-color:#f5f5f5;
}
.nav {
    width: 30%;
    height: 100%;
    position: fixed;
    background: #f5f5f5;
    outline:1px solid;
    font-size:30px;
}
.right {
    width:70%;
    height: auto;
    position: absolute;
    right: 0;
    background: #f5f5f5;
}
a {
  text-decoration: none;
  color: #28a1e2;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
a:hover {
  color: #64d1a5;
  text-decoration: none;
}
a,visited{
  text-decoration: none;
  color: #64d1a5;
}
.install {
    color:#64d1a5;
}
ul {
    list-style-type:none;
}
